* {
    margin: 0;
}
html,body{
    height:100%;
}
body{
    font-family: Muli;
    font-size: 16px;
    background-image: url("../images/background.png");
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
}
main{
    display: block;
    padding-top: 3em;
}
article{
    padding: 2em;
}
h1{
    font-family: Georgia,bold;
    text-align: center;
    color: #0C3653;
}
h3{
    font-family: Muli,Light;
    color: #255A7E;
    padding: 10px
}
p{
    color: #0C3653;
    padding: 10px;
}
